$error-color: #d14024;
$warning-color: #fbd503;
$patch-color: #f96509;

.error {
  span {
    border: 2px solid $error-color;  
    i {
      color: $error-color;
      padding-bottom: 2px;
    }
  }
}

.warning {
  span {
    border: 2px solid $warning-color;
    i {
      color: $warning-color;
    }
  }
}

.patch {
  span {
    border: 2px solid $patch-color;
    i {
      color: $patch-color;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  padding-top: 7px;
  i {
    transition: all 0.35s ease-in-out;
    &:hover {
      font-size: 1.10em;
    } 
  }
}

.badges-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  a {
    display: flex;
    width: 80%;
    margin-top: 5px;
    span {
      display: flex;
      align-items: center;
      height: 30px;
      border-radius: 20%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .badges-container {
    flex-direction: column;
  }
}