<div class="badges-container">
  <a *ngIf="errorCount > 0" class="error" (click)="onBadgeClick($event, 'Errors')">
        <span class="">Errors</span> <span class="badge">{{errorCount}}</span>
    </a>
  <a *ngIf="warningCount > 0" class="warning" (click)="onBadgeClick($event, 'Warnings')">
        <span>Warnings</span> <span class="badge">{{warningCount}}</span>
  </a>
  <a *ngIf="patchCount > 0" class="patch" (click)="onBadgeClick($event, 'Patches')">
    <span>Conflicts</span> <span class="badge">{{patchCount}}</span>
  </a>
</div>