.title-dropdown-toggle {
  font-size: 13px;
  background: transparent;
  border: none;
  padding: 0px 3px 0px 3px;
  color: #c1c1c1;
  font-weight: bold;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #6b6b6b;
  }

}

.dropdown-menu {
  min-width: 120px;
  top: initial;
  left: initial;
}

.title-dropdown-container {
  position: relative;
}