.find-replace-container {
  margin: 4px 3px 3px 2px;
  input {
    font-size: 13px;
  }
}

.top-container-item {
  margin-bottom: 3px;
}

.bottom-container-item {
  margin-top: 5px;
  i {
    font-size: 20px;
    float: right;
    padding-right: 2px;
  }
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #7e7e7e;
}

$padding: 20px;
.horizontal-padding {
  padding-right: $padding;
  padding-left: $padding;
}

.find-replace-container {
  div {
    @extend .horizontal-padding;
  }
}