<ng-template tabHeading>
  <i class="fa fa-bolt"></i> Conflicts <span class="badge">{{patches.length}}</span>
</ng-template>

<div *ngIf="patches && patches.length > 0" class="all-actions-container">
  <button class="btn btn-success" (click)="acceptAll()">Accept All<i class="fa fa-check icon-padding-left"></i></button>
  <button class="btn btn-danger" (click)="rejectAll()">Reject All<i class="fa fa-times icon-padding-left"></i></button>
</div>
<ul class="list-group">
  <li *ngFor="let patch of patches" class="list-group-item" (click)="focusPatch(patch)">
    <i class="fa fa-bolt"></i> {{patch.path}} - {{patch.op}}
  </li>
</ul>
