div.btn-group {
  width: 100%;
}

.dropdown-menu {
  left: 0px !important;
}

$input-width: 93%;

.toggle-container {
  width: 100%;
  
  input {
    width: $input-width;
  }

  i {
    width: 98 - $input-width;
    height: 100%;
  }
}

.dropdown-toggle {
  box-shadow: none !important;
}