div.btn-group {
  width: 100%;
}

.dropdown-menu {
  left: 0px !important;
}

.toggle-container {
  width: 100%;
  display: inline-flex;
  
  .value {
    flex-grow: 1;
  }
}

.dropdown-toggle {
  box-shadow: none !important;
}