<div>
    <table id="editor" class="table table-striped">
        <tr *ngFor="let pair of jsonDoc | mapToIterable; trackBy:trackByFunction">
            <td>
                <label>{{pair.key | underscoreToSpace}}</label>
            </td>
            <td>
                <div [ngSwitch]="getType(pair.value)">
                    <div *ngSwitchCase="'ObjectArray'">
                        <object-array-field [(values)]="pair.value"></object-array-field>
                    </div>
                    <div *ngSwitchCase="'ArrayInArray'">
                        <array-in-array-field [(values)]="pair.value" [schema]="schema[pair.key]"></array-in-array-field>
                    </div>
                    <div *ngSwitchCase="'StringArray'">
                        <string-array-field [(values)]="pair.value"></string-array-field>
                    </div>
                    <div *ngSwitchCase="'Object'">
                        <object-field [(value)]="pair.value"></object-field>
                    </div>
                    <div *ngSwitchCase="'String'">
                        <input class="form-control" [(ngModel)]="jsonDoc[pair.key]">
                    </div>
                    <div *ngSwitchDefault>
                        #DEBUG: {{pair.value.constructor.name}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>