@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$text-button-font-size: 13px;
$button-font-size: 21px;

#editor {
  font-size: 13px;

  td, th {
    padding: 3px;
  }
  
  td.label-holder {
    width: 1%;
  }
}

.editor-btn-delete {
  font-size: $button-font-size;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  cursor: pointer;
  background: transparent;
  border: 0;

  &:hover {
    color: red;
    opacity: 0.6;
  }

  &.editor-btn-delete-text {
    font-size: $text-button-font-size;
    opacity: 0.5;
  }
}

.btn-new-field {
  font-size: $button-font-size;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.4;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: absolute;
  bottom: -5px;
  left: -5px;

  &:hover {
    color: green;
    opacity: 0.6;
  }
}

.editor-btn-move-up, .editor-btn-move-down {
  border: 0;
  background: transparent;
  opacity: 0.2;

  &:hover {
    opacity: 0.6;
  }
}

td.button-holder, th.button-holder {
  width: 65px;
  vertical-align: middle !important;

  button {
    padding: 2px;
  }
}

.add-new-field-container {
  position: relative;
}

div.error {
  background: #f2968d;
}

button.save {
  @extend .btn-primary;
  float: right;
}

$editor-table-container-width: 60%;
$container-padding: 8px;

div.editor-table-container {
  float: left;
  width: $editor-table-container-width;
  height: 100vh;
  overflow-y: auto;
  padding-right: $container-padding
}

div.right-side-container {
  float: right;
  width: 100% - $editor-table-container-width;
  height: 100vh;
  padding-left: $container-padding;
  border-left: 2px solid lightgray;
}

.flash {
  border: 2px solid yellow;
}