<div>
    <table id="editor" class="table table-striped">
        <tr *ngFor="let pair of record | mapToIterable; trackBy:trackByFunction">
            <td>
                <label>{{pair.key | underscoreToSpace}}</label>
            </td>
            <td>
                <div [ngSwitch]="getType(pair.value)">
                    <div *ngSwitchCase="'ObjectArray'">
                        <object-array-field [(values)]="pair.value" [schema]="schema[pair.key]"></object-array-field>
                    </div>
                    <div *ngSwitchCase="'ArrayInArray'">
                        <array-in-array-field [(values)]="pair.value" [schema]="schema[pair.key]"></array-in-array-field>
                    </div>
                    <div *ngSwitchCase="'PrimitiveArray'">
                        <primitive-array-field [(values)]="pair.value" [schema]="schema[pair.key]"></primitive-array-field>
                    </div>
                    <div *ngSwitchCase="'Object'">
                        <object-field [(value)]="pair.value" [schema]="schema[pair.key]"></object-field>
                    </div>
                    <div *ngSwitchCase="'String'">
                        <primitive-field [value]="record[pair.key]" (onValueChange)="onValueChange($event, pair.key)" [schema]="schema[pair.key]"></primitive-field>
                    </div>
                    <div *ngSwitchDefault>
                        #DEBUG: {{pair.value.constructor.name}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>