<div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th *ngFor="let column of values[0] | mapToIterable; trackBy:trackByFunction">
            {{column.key}}
          </th>
        </tr>
      </thead>
      <tr *ngFor="let row of values; let i = index; trackBy:trackByFunction">
         <!-- Element value -->
        <td *ngFor="let column of row | mapToIterable; trackBy:trackByFunction">
          <primitive-field [value]="row[column.key]" (onValueChange)="onValueChange($event, i, column.key)"></primitive-field>
        </td>
        
        <!-- UP/DOWN and DELETE buttons for each row -->
        <td *ngIf="values.length > 0" class="button-holder">
          <button type="button" class="btn btn-danger" (click)="deleteElement(i)">⌫</button>
          <button *ngIf="i > 0" type="button" class="btn btn-primary" (click)="moveElement(i, -1)">▲</button>
          <button *ngIf="i < (values.length - 1)" type="button" class="btn btn-primary" (click)="moveElement(i, 1)">▼</button>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <!-- ADD button for table -->
    <button type="button" class="btn btn-primary" (click)="addNewElement()">+</button>
  </div>
</div>