<div>
  <tabset>
    <tab *ngFor="let preview of previews trackBy:trackByElement" [heading]="preview.name">
      <div [ngSwitch]="preview.type">
        <div *ngSwitchCase="'html'" class="preview-container">
          <ng-template tabHeading>
            <span class="preview-link" (click)="openUrlInNewWindow(preview.url)">
              <i class="fa fa-external-link"></i>
            </span>
          </ng-template>
          <html-view [url]="preview.url"></html-view>
        </div>
      </div>
    </tab>
  </tabset>
</div>