
$placeholder-color: #000;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $placeholder-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $placeholder-color;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $placeholder-color;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $placeholder-color;
}

div.btn-group {
    width: 100%;
}
