<div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th *ngFor="let schemaProp of schema.items.properties | mapToIterable; trackBy:trackByFunction">
            {{schemaProp.key}}
          </th>
        </tr>
      </thead>
      <tr *ngFor="let element of values; let i = index; trackBy:trackByFunction">
        <td *ngFor="let schemaProp of schema.items.properties | mapToIterable; trackBy:trackByFunction">
          <textarea rows="1" [ngModel]="element[schemaProp.key]" (ngModelChange)="valueChange($event, i, schemaProp.key)"></textarea>
        </td>
        <td *ngIf="values.length > 1" class="button-holder">
          <button *ngIf="i > 0" type="button" class="btn btn-primary" (click)="onMoveElement(i, -1)">▲</button>
          <button *ngIf="i < (values.length - 1)" type="button" class="btn btn-primary" (click)="onMoveElement(i, 1)">▼</button>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="onAddNewElement()">+</button>
  </div>
</div>