<span [class.hidden]="latexPreviewShown" [attr.contenteditable]="!disabled" [attr.data-path]="pathString" [tabindex]="tabIndex"
  [contentModel]="contentModel" (contentModelChange)="contentModelChange($event)" (blur)="onBlur()" (keypress)="onKeypress.emit($event)"
  attr.placeholder="{{placeholder || '⁣\u2063'}}" #contentEditable></span>
<div [class.hidden]="!latexPreviewEnabled || !latexPreviewShown" (click)="hideLatexPreview(contentEditable)" (blur)="hideLatexPreview(contentEditable)"
  #latexPreview></div>