.dropdown-header.title {
  font-size: 13.5px;
  font-weight: bold;
  padding-left: 10px;
}

.dropdown-divider {
  margin: 4px 0;
}

.add-field-dropdown-container {
  width: initial !important;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

// copy of .dropdown-menu > li > a since there is extra div in the template to *ngFor
.dropdown-menu li > .dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
}