<div *ngIf="!hidden" class="btn-group add-field-dropdown-container" dropdown keyboardNav="true" [isDisabled]="isDisabled" (onShown)="onDropdownShown()">
  <button type="button" class="btn btn-add-field-dropdown" dropdownToggle>
     <ng-content></ng-content> 
  </button>
  <ul class="dropdown-menu" *dropdownMenu>
    <li class="dropdown-filter-container">
      <input [(ngModel)]="expression" placeholder="filter" (click)="$event.stopPropagation()">
    </li>
    <li class="divider dropdown-divider"></li>
    <li *ngFor="let key of schema.properties | differentKeys:fields | filterByExpression:expression">
      <a class="dropdown-item" href="javascript:void(0)" (click)="onFieldSelect(key)">{{key}}</a>
    </li>
  </ul>
</div>