<div *ngIf="!disabled" class="btn-group" dropdown keyboardNav="true" (onToggle)="focusElementIfOpen($event, expressionInput)">
  <button id="simple-btn-keyboard-nav" type="button" class="btn-add-field-dropdown" dropdownToggle [disabled]="isDisabled"><ng-content></ng-content> <span class="caret"></span></button>
  <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-btn-keyboard-nav">
    <li class="dropdown-filter-container">
      <input #expressionInput [(ngModel)]="expression" placeholder="filter">
    </li>
    <li class="divider dropdown-divider"></li>
    <li *ngFor="let key of schema | differentKeys:fields | filterByExpression:expression">
      <a class="dropdown-item" href="javascript:void(0)" (click)="onFieldSelect(key)">{{key}}</a>
    </li>
  </ul>
</div>