.btn-add-field-dropdown {
  padding: 0 3px;
  font-size: 11px;
  opacity: 0.4;
  border: 0;
  background: transparent;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: darkslategray;
  margin-bottom: 2px;
  float: left;

  &:hover {
    color: blue;
    opacity: 0.6;
  }
}

.dropdown-filter-container {
  padding: 0 3px;
  
  input {
    width: 100%;
  }
}