.btn-add-field-dropdown {
  padding: 0;
  font-size: 21px;
  opacity: 0.4;
  border: 0;
  background: transparent;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: darkslategray;
  margin-bottom: 2px;

  &:hover {
    color: blue;
    opacity: 0.6;
  }
}

$filter-padding: 3px;
.dropdown-filter-container {
  padding-left: $filter-padding;
  padding-right: $filter-padding;
  
  input {
    width: 100%;
  }
}
