.editor-btn-add-subfield {
  padding: 0;
  font-size: 21px;
  opacity: 0.4;
  border: 0;
  background: transparent;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 2px;

  &:hover {
    color: blue;
    opacity: 0.6;
  }
}

.dropdown-menu {
  left: inherit;
  right: -45px;
}

$filter-input-margin: 3px;
input.dropdown-filter {
  margin-left: $filter-input-margin;
  margin-right: $filter-input-margin;
}