<div [ngSwitch]="valueType" [id]="pathString">
  <table class="primitive-field-container">
    <tr>
      <td class="value-container" [ngClass]="errorNgClass" [tooltipHtml]="errors | errorsToMessagesHtml" [isDisabled]="!isErrorTooltipEnabled">
        <div *ngSwitchCase="'string'">
          <textarea rows="1" textareaAutofit [tabindex]="tabIndex" [(ngModel)]="value" (blur)="commitValueChange()" (keypress)="onKeypress($event)"
            placeholder="{{schema.title}}"></textarea>
        </div>
        <div *ngSwitchCase="'enum'">
          <searchable-dropdown [value]="value" [tabindex]="tabIndex" [items]="schema.enum" [shortcutMap]="schema.enumShorcutMap" (onSelect)="onSearchableDropdownSelect($event)"></searchable-dropdown>
        </div>
        <div *ngSwitchCase="'autocomplete'">
          <autocomplete-input [value]="value" [path]="path" [autocompletionConfig]="schema.autocompletionConfig" (onBlur)="commitValueChange()"
            (onKeypress)="onKeypress($event)" (onValueChange)="onAutocompleteInputValueChange($event)" [tabindex]="tabIndex"
            [placeholder]="schema.title"></autocomplete-input>
        </div>
        <div *ngSwitchCase="'integer'">
          <input type="number" [(ngModel)]="value" [tabindex]="tabIndex" (blur)="commitValueChange()" (keypress)="onKeypress($event)"
            placeholder="{{schema.title}}">
        </div>
        <div *ngSwitchCase="'boolean'">
          <input type="checkbox" [(ngModel)]="value" (ngModelChange)="commitValueChange()" placeholder="{{schema.title}}" [tabindex]="tabIndex">
        </div>
        <div *ngSwitchDefault>
          ## Not recognized type: {{valueType}}
        </div>
      </td>
      <td class="link-button-container">
        <a *ngIf="schema.linkBuilder" class="no-decoration" target="_blank" [href]="schema.linkBuilder(value)">🔗</a>
        <a *ngIf="!schema.linkBuilder && schema.format === 'url'" class="no-decoration" target="_blank" [href]="value">🔗</a>
      </td>
    </tr>
  </table>
</div>