td.value-container div[contenteditable=true],
td.value-container input {
  vertical-align: middle;
  width: 50%;
  padding: 0 0 0 3px;
  transition: all 0.5s ease;
  resize: none;
  border: none;
  background-color: transparent;
  display: inline-block;

  // Fill parent's width 
  width:100%;
  box-sizing: border-box;         // For IE and modern versions of Chrome
  -moz-box-sizing: border-box;    // For Firefox   
  -webkit-box-sizing: border-box; // For Safari
}

table.primitive-field-container {
  width: 100%;
}

td.link-button-container {
  width: 22px;
}

td.value-container {
  width: 100%;
  
  &:hover {
    background-color: #ffa !important;
  }
}

a.no-decoration {
  text-decoration: none;
}

[contenteditable=true] {
  min-height: 18px;
  
  &:empty:before {
    content: attr(placeholder);
    color: darkgray;
    display: block; /* For Firefox */
  }
}
