<div [id]="pathString">
  <table class="primitive-field-container" [ngSwitch]="schema.componentType">
    <tr [ngClass]="errorClass">
      <ng-template #errorsTooltipTemplate>
        <ul class="tooltip-left-align">
          <li *ngFor="let error of internalErrors">
            {{error.message}}
          </li>
          <li *ngFor="let error of externalErrors">
            {{error.message}}
          </li>
        </ul>
      </ng-template>
      <td *ngIf="!jsonPatches[0]; else patchTemplate" class="value-container" [ngClass]="disabledClass" [tooltip]="errorsTooltipTemplate"
        [isDisabled]="!hasErrors()" placement="{{tooltipPosition}}" container="body">
        <div *ngSwitchCase="'string'">
          <string-input [pathString]="pathString" [value]="value" (valueChange)="onValueChange($event)" [disabled]="disabled" [tabIndex]="tabIndex"
            [latexPreviewEnabled]="schema.latexPreviewEnabled" [placeholder]="schema.title" (blur)="onBlur()" (onKeypress)="onKeypress($event)">
          </string-input>
        </div>
        <div *ngSwitchCase="'enum'">
          <searchable-dropdown [pathString]="pathString" [value]="value" [placeholder]="schema.title" [items]="schema.enum" [shortcutMap]="schema.enumShorcutMap"
            (onSelect)="onSearchableDropdownSelect($event)" [displayValueMap]="schema.enumDisplayValueMap" [tabIndex]="tabIndex" (onBlur)="onBlur()"></searchable-dropdown>
        </div>
        <div *ngSwitchCase="'autocomplete'">
          <autocomplete-input [pathString]="pathString" [value]="value" [path]="path" [autocompletionConfig]="schema.autocompletionConfig"
            (onBlur)="onBlur()" (onKeypress)="onKeypress($event)" (onValueChange)="onValueChange($event)" [placeholder]="schema.title"
            [tabIndex]="tabIndex"></autocomplete-input>
        </div>
        <div *ngSwitchCase="'integer'">
          <input type="number" [(ngModel)]="value" [tabindex]="tabIndex" [attr.data-path]="pathString" (blur)="onBlur()" (keypress)="onKeypress($event)"
            [placeholder]="schema.title">
        </div>
        <div *ngSwitchCase="'boolean'">
          <input type="checkbox" [(ngModel)]="value" (ngModelChange)="onBlur()" [placeholder]="schema.title">
        </div>
        <div *ngSwitchDefault>
          ## Not recognized type: {{valueType}}
        </div>
      </td>
      <td class="link-button-container">
        <a *ngIf="schema.linkBuilder" class="no-decoration" target="_blank" [href]="schema.linkBuilder(value)">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
        <a *ngIf="!schema.linkBuilder && schema.format === 'url'" class="no-decoration" target="_blank" [href]="value">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </table>
</div>

<ng-template #patchTemplate>
  <button class="btn btn-default btn-merge orange-left-border" type="button" [popover]="mergePopover" [popoverContext]="{currentValue: value, patchValue: jsonPatches[0].value}"
    popoverTitle="Merge" container="body">
    {{value}} <i class="fa fa-bolt"></i>
  </button>
</ng-template>

<ng-template let-currentValue="currentValue" let-patchValue="patchValue" #mergePopover >
  <text-diff [currentText]="currentValue" [newText]="patchValue"></text-diff>
  <patch-actions [patch]="jsonPatches[0]" [addActionEnabled]="isPathToAnIndex"></patch-actions>
</ng-template>