<div [ngSwitch]="valueType" [id]="pathString">
  <table class="primitive-field-container">
    <tr>
      <template #errorsTooltipTemplate>
        <ul>
          <li *ngFor="let error of errors">
            {{error.message}}
          </li>
        </ul>
      </template>
      <td class="value-container" [ngClass]="errorNgClass" [tooltip]="errorsTooltipTemplate" [isDisabled]="!isErrorTooltipEnabled">
        <div *ngSwitchCase="'string'">
          <div contenteditable="true" attr.data-path="{{pathString}}" [tabindex]="tabIndex" [(contentModel)]="value" (blur)="commitValueChange()"
            (keypress)="onKeypress($event)" attr.placeholder="{{schema.title}}"></div>
        </div>
        <div *ngSwitchCase="'enum'">
          <searchable-dropdown [pathString]="pathString" [value]="value" [placeholder]="schema.title" [items]="schema.enum" [shortcutMap]="schema.enumShorcutMap"
            (onSelect)="onSearchableDropdownSelect($event)" [tabIndex]="tabIndex"></searchable-dropdown>
        </div>
        <div *ngSwitchCase="'autocomplete'">
          <autocomplete-input [pathString]="pathString" [value]="value" [path]="path" [autocompletionConfig]="schema.autocompletionConfig"
            (onBlur)="commitValueChange()" (onKeypress)="onKeypress($event)" (onValueChange)="onAutocompleteInputValueChange($event)"
            [placeholder]="schema.title" [tabIndex]="tabIndex"></autocomplete-input>
        </div>
        <div *ngSwitchCase="'integer'">
          <input type="number" [(ngModel)]="value" [tabindex]="tabIndex" attr.data-path="{{pathString}}" (blur)="commitValueChange()"
            (keypress)="onKeypress($event)" placeholder="{{schema.title}}">
        </div>
        <div *ngSwitchCase="'boolean'">
          <input type="checkbox" [(ngModel)]="value" (ngModelChange)="commitValueChange()" placeholder="{{schema.title}}">
        </div>
        <div *ngSwitchDefault>
          ## Not recognized type: {{valueType}}
        </div>
      </td>
      <td class="link-button-container">
        <a *ngIf="schema.linkBuilder" class="no-decoration" target="_blank" [href]="schema.linkBuilder(value)">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
        <a *ngIf="!schema.linkBuilder && schema.format === 'url'" class="no-decoration" target="_blank" [href]="value">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </table>
</div>