div.tree-menu-container {
  padding: 8px 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

input.wide {
  width: 100%;
  padding: 2px;
  text-align: center;
}

ul.menu-item-container {
	list-style: none;
  text-align: left;
  padding-top: 8px;
}