<div>
  <a [href]="href" (click)="toggle($event)">{{label}}</a>
  <a *ngIf="isCollapsable" [hidden]="isCollapsed" (click)="collapse()"> [x]</a>
  <div *ngIf="isNotLeaf" [ngSwitch]="schema.type" [hidden]="isCollapsed">
    <ul>
      <div *ngSwitchCase="'object'">
        <li *ngFor="let key of keys | filterHiddenFields:schema | addAlwaysShowFields:schema | sortAlphabetically; trackBy:trackByElement">
          <tree-menu-item [label]="key" [value]="value.get(key)" [schema]="schema.properties[key]" [path]="getChildPath(key)" [depth]="depth + 1"></tree-menu-item>
        </li>
      </div>
      <div *ngSwitchCase="'array'">
        <li *ngFor="let element of value; let i = index; trackBy:trackByElement">
          <tree-menu-item [label]="i" [value]="element" [schema]="schema.items" [path]="getChildPath(i)" [depth]="depth + 1"></tree-menu-item>
        </li>
      </div>
    </ul>
  </div>
</div>