<div [ngSwitch]="valueType">
  <div class="form-group" [ngClass]="getErrorClass()">
    <div *ngSwitchCase="'string'">
      <textarea class="form-control" rows="1" [ngModel]="value" (ngModelChange)="onModelChange($event)"></textarea>
    </div>
    <div *ngSwitchCase="'number'">
      <input type="number" class="form-control" [ngModel]="value" (ngModelChange)="onModelChange($event)">
    </div>
    <div *ngSwitchCase="'boolean'">
      <input type="checkbox" [ngModel]="value" (ngModelChange)="onModelChange($event)">
    </div>
    <div *ngSwitchDefaul>
      ## Not recognized type: {{valueType}}
    </div>
  </div>
</div>