div.editable-field-container textarea,
div.editable-field-container input {
    width: 50%;
    padding: 3px;
    transition: all 0.5s ease;
    resize: none;
    border: none;
    background-color: transparent;
    
    // Fill parent's width 
    width:100%;
    box-sizing: border-box;         // For IE and modern versions of Chrome
    -moz-box-sizing: border-box;    // For Firefox   
    -webkit-box-sizing: border-box; // For Safari
}

div.editable-field-container textarea:focus {
    height: 6em;
}

div.editable-field-container:hover {
    background: #ffa;
}
