<div [ngSwitch]="valueType" id="{{path}}">
  <div class="editable-field-container" [ngClass]="errorNgClass" [tooltipHtml]="errors | errorsToMessagesHtml" tooltipTrigger="mouseenter" [tooltipEnable]="isErrorTooltipEnabled">
    <div *ngSwitchCase="'string'">
      <textarea rows="1" [ngModel]="value" (ngModelChange)="onModelChange($event)" placeholder="{{schema.title}}"></textarea>
    </div>
    <div *ngSwitchCase="'enum'">
      <!-- TODO: set placeholder -->
      <searchable-dropdown [value]="value" [items]="schema.enum" [shortcutMap]="schema.x_editor_enum_shortcut_map" (onSelect)="onModelChange($event)"></searchable-dropdown>
    </div>
    <div *ngSwitchCase="'autocomplete'">
      <autocomplete-input [value]="value"  [autocompletionOptions]="schema.x_editor_autocomplete" (onValueChange)="onModelChange($event)" [placeholder]="schema.title"></autocomplete-input>
    </div>
    <div *ngSwitchCase="'number'">
      <input type="number" [ngModel]="value" (ngModelChange)="onModelChange($event)" placeholder="{{schema.title}}">
    </div>
    <div *ngSwitchCase="'boolean'">
      <input type="checkbox" [ngModel]="value" (ngModelChange)="onModelChange($event)" placeholder="{{schema.title}}">
    </div>
    <div *ngSwitchDefault>
      ## Not recognized type: {{valueType}}
    </div>
  </div>
  <div>
    <div *ngSwitchCase="'disabled'">
      {{value}}
    </div>
  </div>
</div>
