i {
  &.fa-exclamation-triangle {
    color: #FFDD00;
  }

  &.fa-times {
    color: #D14024;
  }
}

a {
  &:hover {
    background-color: #faebcc;
    text-decoration: underline;
  }

  &.list-group-item {
    cursor: pointer;
    color: #0074D9;
  }
}