.complex-list-field-wrapper {
  margin: 10px 15px 15px 10px;
  padding: 5px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.25);
}

.navigator-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: white; 
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.item-count-label {
  position: relative;
  top: -19px;
}

.transparent {
  background: transparent;
}

.borderless {
  border: none;
}

.find-button {
  color: darkslategray;
  
  .fa-search {
    opacity: 0.83;
  }
}

.element-button-container {
  padding-top: 8px;

  .left, .right {
    padding: 0px;
  }
  
  .right {
    text-align: right;
  }
}

label.btn {
  color: white !important;
}