<div [id]="pathString" [ngClass]="redLeftBorderClass">
  <!-- Navigator -->
  <div *ngIf="navigator" class="navigator-container">
    <div>
      <div class="input-group input-group-sm">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default find-button" (click)="onFindClick()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </span>
        <input type="search" class="form-control" [(ngModel)]="findExpression" (keypress)="onFindInputKeypress($event.key)" placeholder="Find"
        />
        <span class="input-group-btn" *ngIf="shouldDisplayFoundNavigation">
            <button type="button" class="btn btn-default" [disabled]="currentFound <= 0" (click)="onFoundNavigate(-1)">❮</button>
        </span>
        <span class="input-group-btn" *ngIf="shouldDisplayFoundNavigation">
            <button type="button" class="btn btn-default" [disabled]="currentFound >= foundIndices.length - 1" (click)="onFoundNavigate(1)">❯</button>
        </span>
        <span *ngIf="foundIndices" [ngSwitch]="foundIndices.length" class="input-group-addon transparent borderless">
          <span *ngSwitchCase="0">
              Nothing found
          </span>
          <span *ngSwitchDefault>
              {{currentFound + 1}} of {{foundIndices.length}}
          </span>
        </span>
      </div>
    </div>
    <div *ngIf="headerItemTemplate">
      <ng-template [ngTemplateOutlet]="headerItemTemplate"></ng-template>
    </div>
    <div>
      <label class="item-count-label">
          {{paginatedItems[0].index + 1}}-{{paginatedItems[paginatedItems.length - 1].index + 1}} of {{values.size}} {{path[path.length - 1]}}
      </label>
      <br>
      <pagination [totalItems]="values.size" [ngModel]="currentPage" [maxSize]="navigator.maxVisiblePageCount" [itemsPerPage]="navigator.itemsPerPage"
        class="pagination-sm pagination-top" [boundaryLinks]="true" [rotate]="false" [firstText]="'❮❮'" [previousText]="'❮'"
        [nextText]="'❯'" [lastText]="'❯❯'" (pageChanged)="onPageChange($event.page)"></pagination>
    </div>
  </div>
  <!-- Elements -->
  <div *ngFor="let item of paginatedItems; trackBy:trackByElement">
    <div class="complex-list-field-wrapper">
      <span *ngIf="shouldDisplayTemplate && values.get(item.index).keySeq().size != 0">
        <ng-template [ngTemplateOutlet]="customTemplate" [ngTemplateOutletContext]="{item: values.get(item.index)}"></ng-template>
        <a href="javascript:void(0)" (click)="item.isEditFormVisible = !item.isEditFormVisible">
          {{item.isEditFormVisible ? 'Hide Fields' : 'Show Fields'}}
        </a>
      </span>
      <span *ngIf="item.isEditFormVisible || hasErrorOrPatch(item.index)">
        <object-field [value]="values.get(item.index)" [schema]="schema.items" [path]="getPathForChild(item.index)">
        </object-field>
        <div class="row element-button-container">
          <div class="col-md-6 left">
            <add-nested-field-dropdown [pathString]="pathString + '/' + item.index" [schema]="schema.items" [isDisabled]="disabled"></add-nested-field-dropdown>
          </div>
          <div class="col-md-6 right">
            <list-action-group (onMove)="moveElement(item.index, $event)" (onDelete)="deleteElement(item.index)" [canMove]="schema.sortable" [isDisabled]="disabled"></list-action-group>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div *ngFor="let patch of addJsonPatches" class="complex-list-field-wrapper">
    <add-patch-view [patch]="patch"></add-patch-view>
  </div>
  <div *ngIf="removeJsonPatch">
    <patch-actions [patch]="removeJsonPatch"></patch-actions>
  </div>
</div>