<ng-template let-item="item" #referenceTemplate>
  <div class="reference-template-container" [ngSwitch]="item.hasIn(['record', '$ref'])">
    <span *ngSwitchCase="true">
      <i class="fa fa-check-circle success" aria-hidden="true"></i>
      <a href="{{item.getIn(['record', '$ref'])}}" target="_blank">{{item.getIn(['reference', 'misc', 0])}}</a>
    </span>
    <span *ngSwitchDefault>
      <i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i>
      {{item.getIn(['reference', 'misc', 0])}}
    </span>
  </div>
</ng-template>
<json-editor *ngIf="record && schema"
  [config]="config.jsonEditorConfig"
  [record]="record"
  [jsonPatches]="patches"
  [errorMap]="errorMap"
  (onRecordChange)="onRecordChange($event)"
  [schema]="schema"
  [templates]="{referenceTemplate: referenceTemplate}">
</json-editor>