<div>
  <table class="table table-bordered">
    <tr *ngFor="let row of value | mapToIterable; trackBy:trackByFunction">
      <td>
        <div>
          <strong>{{row.key}}</strong>
        </div>
      </td>
      <td>
        <primitive-field [value]="value[row.key]" (onValueChange)="onValueChange($event, row.key)" [schema]=schema.properties[row.key]></primitive-field>
      </td>
      <td class="button-holder">
        <button type="button" class="editor-btn-delete" (click)="deleteField(row.key)">&times;</button>
      </td>
    </tr>
    <!-- ADD-FIELD-FROM-SCHEMA -->
    <tr *ngIf="schema.properties">
      <td class="button-holder">
        <add-field-dropdown [(value)]="value" [schema]="schema.properties"></add-field-dropdown>
      </td>
    </tr>
  </table>
</div>
