$table-editable-rows-background: #edf6fd;

table.editable-inner-table {
  tbody {
    background-color: $table-editable-rows-background;
  }

  thead > tr > th {
    border-bottom: 0px;
  }

  div.list-holder {
    padding: 3px;
  }

  td {
    padding: 0 0 0 1px !important;
    vertical-align: middle !important;
  }
}
