<div>
  <div>
    <table class="table table-bordered editable-inner-table">
      <thead class="thead-inverse">
        <tr>
          <th *ngFor="let column of values[0] | mapToSortedIterable:schema.items.properties; trackBy:trackByFunction">
            {{column.key}}
          </th>

          <th class="button-holder">
              <add-field-to-list-dropdown [(values)]="values" [schema]="schema.items.properties"></add-field-to-list-dropdown>
          </th>

        </tr>
      </thead>
      <tr *ngFor="let row of values; let i = index; trackBy:trackByFunction">
        <!-- Element value -->
        <td *ngFor="let column of row | mapToSortedIterable:schema.items.properties; trackBy:trackByFunction">
          <div [ngSwitch]="getFieldType(column.key)">
            <div *ngSwitchCase="'primitive-list'" class="list-holder">
              <primitive-list-field [(values)]="row[column.key]" [schema]="schema.items.properties[column.key]"></primitive-list-field>
            </div>
            <div *ngSwitchCase="'object'">
              <object-field [(value)]="row[column.key]" [schema]="schema.items.properties[column.key]"></object-field>
            </div>
            <div *ngSwitchDefault>
              <primitive-field [value]="row[column.key]" (onValueChange)="onValueChange($event, i, column.key)" [schema]="schema.items.properties[column.key]"></primitive-field>
            </div>
          </div>
        </td>

        <!-- UP/DOWN and DELETE buttons for each row -->
        <td *ngIf="values.length > 0" class="button-holder">
            <button type="button" class="editor-btn-delete" (click)="deleteElement(i)">&times;</button>
            <button *ngIf="i > 0" type="button" class="editor-btn-move-up" (click)="moveElement(i, -1)">▲</button>
            <button *ngIf="i < (values.length - 1)" type="button" class="editor-btn-move-down" (click)="moveElement(i, 1)">▼</button>
        </td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
  <div class="add-new-field-container">
    <!-- ADD button for table -->
    <button type="button" class="btn-new-field" (click)="addNewElement()">+</button>
  </div>
</div>