<div [id]="pathString" [ngClass]="redLeftBorderClass">
  <table class="table editable-inner-table">
    <thead class="thead-inverse">
      <tr>
        <th *ngFor="let key of keys$ | async; trackBy:trackByElement" [style.width]="schema.items.properties[key].columnWidth + '%'">
          {{key | underscoreToSpace}}
        </th>
        <th class="button-holder" [class.sortable]="schema.sortable">
          <add-field-dropdown *ngIf="values.size > 0" [fields]="keys$ | async" [pathString]="pathString" [schema]="schema.items" [isDisabled]="disabled">
            <i class="fa fa-plus"></i>
            <i class="fa fa-caret-down"></i>
          </add-field-dropdown>
        </th>
      </tr>
    </thead>
    <tr *ngFor="let value of values; let i = index; trackBy:trackByIndex" table-item-field [id]="getPathStringForChild(i)" [value]="value"
      [schema]="schema.items" [path]="getPathForChild(i)" [keys]="keys$ | async">
      <td *ngIf="values.size > 0" class="button-holder" [class.sortable]="schema.sortable">
        <list-action-group (onMove)="moveElement(i, $event)" (onDelete)="deleteElement(i)" [canMove]="schema.sortable" [isDisabled]="disabled"></list-action-group>
      </td>
    </tr>
    <tr *ngIf="removeJsonPatch">
      <patch-actions [patch]="removeJsonPatch"></patch-actions>
    </tr>
  </table>
  <div *ngFor="let patch of addJsonPatches">
    <add-or-replace-patch [patch]="patch"></add-or-replace-patch>
  </div>
  <div *ngIf="replaceJsonPatches && replaceJsonPatches[0]">
    <add-or-replace-patch [patch]="replaceJsonPatches[0]"></add-or-replace-patch>
  </div>
</div>