$label-color: #c1c1c1;

table.editable-inner-table {

  border: none;

  thead > tr > th {
    vertical-align: middle;
    border: none;
    color: $label-color;
  }

  div.list-holder {
    padding: 3px;
  }

  td {
    padding: 0 !important;
    vertical-align: top !important;
  }

  label {
    display: inline !important;
    font-weight: initial !important;
  }
}
