table.editable-inner-table {

  border: none;

  thead > tr > th {
    vertical-align: middle;
    border: none;
  }

  div.list-holder {
    padding: 3px;
  }

  td {
    padding: 0 0 0 1px !important;
    vertical-align: top !important;
  }
}
