<div [id]="path.join('.')">
  <div>
    <table class="table editable-inner-table">
      <thead class="thead-inverse">
        <tr>
          <th *ngFor="let key of keys | addAlwaysShowFields:schema.items | filterAndSortBySchema:schema.items; trackBy:trackByFunction">
            {{key | underscoreToSpace}}
          </th>

          <th class="button-holder">
            <add-field-dropdown *ngIf="values.size > 0" [fields]="keys" (onFieldAdd)="onFieldAdd($event)" [schema]="schema.items.properties"></add-field-dropdown>
          </th>

        </tr>
      </thead>
      <tr *ngFor="let row of values; let i = index; trackBy:trackByFunction" [id]="path.join('.') + '.' + i">
        <!-- Element value -->
        <td *ngFor="let key of keys | addAlwaysShowFields:schema.items | filterAndSortBySchema:schema.items; trackBy:trackByFunction">
          <any-type-field [value]="row.get(key) | selfOrEmpty:schema.items.properties[key]" [schema]="schema.items.properties[key]"
            [path]="getValuePath(i, key)"></any-type-field>
          <add-new-element-button *ngIf="schema.items.properties[key].type === 'array'" [path]="getValuePath(i, key)" [schema]="schema.items.properties[key]"></add-new-element-button>
        </td>

        <!-- UP/DOWN and DELETE buttons for each row -->
        <td *ngIf="values.size > 0" class="button-holder">
          <button type="button" class="editor-btn-delete" (click)="deleteElement(i)">&times;</button>
          <button *ngIf="i > 0" type="button" class="editor-btn-move-up" (click)="moveElement(i, -1)">▲</button>
          <button *ngIf="i < (values.size - 1)" type="button" class="editor-btn-move-down" (click)="moveElement(i, 1)">▼</button>
        </td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
</div>