<div>
  <div>
    <table class="table table-bordered">
      <tbody *ngFor="let value of values; let i = index; trackBy:trackByFunction">
        <tr *ngFor="let row of value | mapToIterable; trackBy:trackByFunction">
          <td>
            <div>
              <strong>{{row.key}}</strong>
            </div>
          </td>
          <td>
            <div [ngSwitch]="getType(row.value)">
              <div *ngSwitchCase="'Object'">
                <object-field [(value)]="value[row.key]" [(schema)]="schema.items.properties[row.key]"></object-field>
              </div>
              <div *ngSwitchCase="'ObjectArray'">
                <object-array-field [(values)]="value[row.key]"></object-array-field>
              </div>
              <div *ngSwitchCase="'StringArray'">
                <string-array-field [(values)]="value[row.key]"></string-array-field>
              </div>
              <div *ngSwitchDefault>
                <textarea rows="1" [ngModel]="value[row.key]" (ngModelChange)="valueChange($event, i, row.key)"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!-- ADD-FIELD-FROM-SCHEMA, UP/DOWN and DELETE buttons for each row group -->
        <tr *ngIf="values.length > 0">
          <td class="button-holder">
            <add-field-dropdown [(record)]="values[i]" [schema]="schema.items.properties"></add-field-dropdown>
            <button type="button" class="btn btn-danger" (click)="deleteElement(i)">⌫</button>
          </td>
          <td class="button-holder">
            <button *ngIf="i > 0" type="button" class="btn btn-primary" (click)="moveElement(i, -1)">▲</button>
            <button *ngIf="i < (values.length - 1)" type="button" class="btn btn-primary" (click)="moveElement(i, 1)">▼</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="addNewElement()">+</button>
  </div>
</div>