.list-group-item {
  &:hover {
    background-color: #faebcc;
    & > .title {
      text-decoration: underline;
    }

    &.nested {
      background-color: #e2dcd1;
    }
  }

  .title {
    cursor: pointer;
    color: #0074D9;
  }
}
