div.tree-menu-container {
  width: 300px;
  height: 500px;
  padding: 8px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

input.wide {
  width: 90%;
  padding: 2px;
  text-align: center;
}

ul.menu-item-container {
  text-align: left;
  padding-top: 8px;
}