<div>
  <a [href]="href" (click)="toggle($event)">{{label}}</a>
  <a *ngIf="isCollapsable" [hidden]="isCollapsed" (click)="collapse()"> [x]</a>
  <div [ngSwitch]="schema.type" [hidden]="isCollapsed">
    <ul>
      <div *ngSwitchCase="'object'">
        <li *ngFor="let pair of value | mapToSortedIterable:schema.properties; trackBy:trackByFunction">
          <tree-menu-item [label]="pair.key" [value]="pair.value" [schema]="schema.properties[pair.key]" [path]="path + '.' + pair.key"></tree-menu-item>
        </li>
      </div>
      <div *ngSwitchCase="'array'">
        <li *ngFor="let element of value; let i = index; trackBy:trackByFunction">
          <tree-menu-item [label]="i" [value]="element" [schema]="schema.items" [path]="path + '.' + i"></tree-menu-item>
        </li>
      </div>
    </ul>
  </div>
</div>