<div class="row editor-container">
	<div class="col-md-2 left">
		<tree-menu [record]="record" [schema]="schema"></tree-menu>
	</div>
	<div class="col-md-6 middle">
		<table id="editor" class="table">
			<tr *ngFor="let key of keys | addAlwaysShowFields:schema |filterAndSortBySchema:schema; trackBy:trackByFunction">
				<td class="label-holder">
					<label>{{key | underscoreToSpace}}</label>
				</td>
				<td>
					<any-type-field [value]="record[key]" (onValueChange)="onValueChange($event, key)" [schema]="schema.properties[key]" [path]="key"></any-type-field>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-4 right">
		<editor-previewer [previews]="previews"> </editor-previewer>
	</div>
</div>