$text-button-font-size: 13px;
$button-font-size: 16px;
$table-editable-rows-background: #edf6fd;
$label-color: #c1c1c1;
$error-color: #f2968d;

body, html {
  height:100%;
}


.editor-container {
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

table {
  margin-bottom: 0px !important;
}

.main-container {
  height: 100%;
  overflow: auto;
}

.left.main-container {
  padding: 0px;
  overflow: hidden;

  .tab-content, .tab-pane {
    height: 100%;
  }

  .nav-tabs {
    float: right;
    padding-left: 1px;
  }
}



.menu-container {

  background-color: #1D2D3D;
  height: 100%;
  overflow: auto;

  div.dropdown {
    width: 100%;
  }

  ul.dropdown-menu {
    right: 0px;
  }

  button.btn-add-field-dropdown {
    background: white;
    padding: 5px;
    opacity: 0.9;
    line-height: normal;
    font-size: 16px;
    width: 100%;

    &:hover {
      opacity: 1;
      color: black;
    }
  }
}

#editor {
  font-size: 13px;
  border: 2px solid #a5adb5;

  .field-wrapper {
    border-bottom: 2px solid #a5adb5;
  }

  td {
    background-color: #f9f9f9;
    border: none;
    padding: 0;
  }

  td > * {
    vertical-align : middle;
  }

  th {
    font-weight: 400;
    padding: 1px 0px 1px 3px;
  }
  
  td.label-holder {
    width: 1%;
    white-space: nowrap;
    padding-right: 5px;
  }

  td.error {
    background-color: $error-color !important;
  }

  tbody {
    border: none;
  }
}

.editor-btn-delete {
  font-size: $button-font-size;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  background: transparent;
  border: 0;
  padding: 0 0 3px 3px;

  &:hover {
    color: red;
    opacity: 0.6;
  }

  &.editor-btn-delete-text {
    font-size: $text-button-font-size;
    opacity: 0.5;
    padding: 0px;
  }
}

.editor-btn-move-down {
  padding-bottom: 0;
}

.editor-btn-move-up, .editor-btn-move-down {
  padding: 0;
  font-size: 11px;
  border: 0;
  background: transparent;
  opacity: 0.2;

  &:hover {
    opacity: 0.6;
  } 
}

ul.pagination-top {
  margin: -16px 0px 0px 0px;
}

td.button-holder, th.button-holder {
  width: 46px;
}

div.error {
  background: #f2968d;
}

label {
   color: $label-color;
}

.flash {
  border: 2px solid yellow;
}

// FIXME: only used in table-list and table-list it's own version?
table.editable-inner-table {
  label {
    display: inline;
    font-weight: initial;
    padding-left: 5px;
  }

  .dropdown-menu {
    left: inherit;
    right: 0px;
    min-width: 100px;
  }

  table-layout: fixed;
}

.disableCursorClass {
  cursor: not-allowed;
}

.disableEventsClass {
  pointer-events: none;
  input, button, div[contenteditable=true], a, i, span {
    opacity: .5;
  }
}

.title-dropdown-item {
  button {
    width: 100%;
    text-align: left;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  &:hover {
    background: #f5f5f5;
  }
}

.match-whole-container {

  .tooltip.top .tooltip-arrow {
    border-top-color: transparent;
  }

  .tooltip {
    width: 90%;
  }
}

.value-container {
  background-color: $table-editable-rows-background !important;
}

button.btn-toggle {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

// Fix typeahead position and size 
.autocomplete-container {
  .dropdown {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
  }
}

$col-md-9-8-width: 81.818182%;
$col-md-9-width: 75%;
$col-md-10-width: 83.333333%;

.col-md-override-2-2 {
  width: 18.181818% !important;
}

.col-md-override-9-8 {
  width: $col-md-9-8-width !important;
}

@mixin nav-tabs-width($width) {
  .nav-tabs {
    width: $width;  
  }
}

.nav-tabs-col-md-9-8 {
  @include nav-tabs-width($col-md-9-8-width);
}

.nav-tabs-col-md-9 {
  @include nav-tabs-width($col-md-9-width);
}

.nav-tabs-col-md-10 {
  @include nav-tabs-width($col-md-10-width);
}
.list-action-group-container {
	text-align: right;
	button {
		font-size: 21px !important;
	}

	i {
		font-size: 15px !important;
	}
}