$text-button-font-size: 13px;
$button-font-size: 16px;
$table-editable-rows-background: #edf6fd;
$label-color: #c1c1c1;

body, html {
  height:100%;
}

@media (min-width: 768px){
  .left {
    background-color: #1D2D3D;
    height: 100%;
    overflow: auto;
  }

  .middle {
    height: 100%;
    overflow: auto;
    max-width: 900px;
  }

  .right {
    height: 100%;
    overflow: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  
}

.editor-container {
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.editable-field-container {
  background-color: $table-editable-rows-background;
}

table {
  margin-bottom: 0px !important;
}

#editor {
  font-size: 13px;
  border: 2px solid #a5adb5;

  .field-wrapper {
    border-bottom: 2px solid #a5adb5;
  }

  td {
    background-color: #f9f9f9;
    border: none;
    padding: 0;
  }

  td > * {
    vertical-align : middle;
  }

  th {
    font-weight: 400;
    padding: 1px 0px 1px 3px;
  }
  
  td.label-holder {
    width: 1%;
    white-space: nowrap;
    padding-right: 5px;
  }

  tbody {
    border: none;
  }
}

.editor-btn-delete {
  font-size: $button-font-size;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  background: transparent;
  border: 0;
  padding: 0 0 3px 3px;

  &:hover {
    color: red;
    opacity: 0.6;
  }

  &.editor-btn-delete-text {
    font-size: $text-button-font-size;
    opacity: 0.5;
    padding: 0px;
  }

  &.editor-btn-delete-complex {
    font-size: 21px;
  }
}

.editor-btn-move-down {
  padding-bottom: 0;
}

.editor-btn-move-up-complex, .editor-btn-move-down-complex {
    font-size: 14px !important;
    vertical-align: bottom !important;
    padding-bottom: 2px !important;
  }

.editor-btn-move-up, .editor-btn-move-down {
  padding: 0;
  font-size: 11px;
  border: 0;
  background: transparent;
  opacity: 0.2;

  &:hover {
    opacity: 0.6;
  } 
}

ul.pagination-top {
  margin: -16px 0px 0px 0px;
}

td.button-holder, th.button-holder {
  width: 46px;
}

div.error {
  background: #f2968d;
}

$editor-table-container-width: 60%;
$container-padding: 8px;

div.editor-table-container {
  float: left;
  width: $editor-table-container-width;
  height: 100vh;
  overflow-y: auto;
  padding-right: $container-padding
}

div.right-side-container {
  float: right;
  width: 100% - $editor-table-container-width;
  height: 100vh;
  padding-left: $container-padding;
  border-left: 2px solid lightgray;
}

label {
   color: $label-color;
}

.flash {
  border: 2px solid yellow;
}

table.editable-inner-table {
  label {
    display: inline;
    font-weight: initial;
    padding-left: 5px;
  }

  .dropdown-menu {
    left: inherit;
    right: 0px;
    min-width: 100px;
  }
}

li.title-dropdown-item > a {
  padding: 0px;

  * {
    width: 100%;
  }
  
  button {
    text-align: left;
    padding-left: 10px !important;
    line-height: normal !important;
  }
}

.left {

  div.dropdown {
    width: 100%;
  }

  ul.dropdown-menu {
    right: 0px;
  }

  button.btn-add-field-dropdown {
    background: white;
    padding: 5px;
    opacity: 0.9;
    line-height: normal;
    font-size: 16px;
    width: 100%;

    &:hover {
      opacity: 1;
      color: black;
    }
  }
}

*:disabled {
  color: darkgrey !important;
}

.disableLink {
  pointer-events: none !important;
}