<div id="ng2-json-editor" class="editor-container" [ngClass]="shorterEditorContainerClass">
  
  <div  *ngIf="!config.compact" class="collapsed-menu-container">
      <add-field-dropdown [fields]="keys$ | async" [pathString]="pathString" 
      [schema]="fixedSchema" class="add-field-button">
        <i class="fa fa-plus fa-2x" tooltip="Add Field" placement="right"></i>
      </add-field-dropdown>
    <span id="preview-toggle-icon" tooltip="{{isPreviewerHidden ? 'Show Preview' : 'Hide Preview'}}" placement="right"class="preview-icon" (click)="isPreviewerHidden = !isPreviewerHidden">
      <i class="fa fa-1x" [ngClass]="!isPreviewerHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
    <bottom-console-badges (badgeClick)="openBottomConsole($event)"></bottom-console-badges>
    <span class="open-sidebar-container" (click)="isSidebarCollapsed = !isSidebarCollapsed">
      <i class="fa fa-angle-right fa-4x" [class.rotate]="!isSidebarCollapsed"></i>
    </span>
  </div>

  <div *ngIf="!config.compact" class="menu-container" [ngClass]="isSidebarCollapsed ? 'close' : 'open'">
    <tree-menu [record]="_record" [schema]="fixedSchema"></tree-menu>
    <hr>
    <div *ngIf="config.enableAdminModeSwitch" class="admin-mode" tooltip="Allows editing all fields (use with care)">
      <input id="admin-mode-checkbox" type="checkbox" [(ngModel)]="appGlobalsService.adminMode" />
      <label class="admin-mode" for="admin-mode-checkbox">Enable Admin Mode</label>
    </div>
    <hr>
  </div>

  <div id="middle-main-container" class="middle main-container" [shortcuts]="customShortcutKeys" [ngClass]="{ 'maximizeEditor' : isPreviewerHidden, 'compact' : config.compact }">
    <add-field-dropdown *ngIf="config.compact" [fields]="keys$ | async" [pathString]="pathString" 
    [schema]="fixedSchema">Add field</add-field-dropdown>
    <tabset *ngIf="config.tabsConfig">
      <tab *ngFor="let tabName of tabNames; trackBy:trackByElement" [heading]="tabName" (select)="activeTabName = tabName" [active]="isActiveTab(tabName)">
        <sub-record [value]="_record" [tabName]="tabName" [schema]="fixedSchema" [keys]="keys$ | async" [pathString]="pathString"></sub-record>
      </tab>
    </tabset>
    <sub-record *ngIf="!config.tabsConfig" [value]="_record" [schema]="fixedSchema" [keys]="keys$ | async" [pathString]="pathString"></sub-record>
  </div>

  <div id="right-main-container" *ngIf="!isPreviewerDisabled" class="main-container right" [ngClass]="isPreviewerHidden ? 'minimizePreview' : 'maximizePreview' ">
    <editor-previewer [hidden]="isPreviewerHidden" [previews]="previews"> </editor-previewer>
  </div>

</div>

<bottom-console *ngIf="!config.compact" [activeTab]="bottomConsoleActiveTab" [isOpen]="isBottomConsoleOpen" (onCollapse)="isBottomConsoleOpen = $event"></bottom-console>
<!-- Modal View controlled by ModalService -->
<modal-view>
</modal-view>