$button-font-size: 13px;

div.button-container {
  display: inline-block;
  width: 100%;
}

.btn-new-field {
  font-size: $button-font-size;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background: transparent;
  border: 0;
  bottom: -5px;
  left: -5px;
  padding: 0px;

  &:hover {
    color: green;
    opacity: 0.6;
  }
}