.editor-btn-add-subfield {
  font-size: 21px;
  opacity: 0.4;
  border: 0;
  background: transparent;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 2px;

  &:hover {
    color: blue;
    opacity: 0.6;
  }
}
