div.admin-mode {
  padding-top: 8px;
  width: 100%;
}

label.admin-mode {
  color: #e0dfdf;
  font-size: 13px;
  font-weight: normal;
  width: 90%;
  padding-left: 4px;
}
  
.record-fields-container {
  height: 100%;
  overflow: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 41px;
}

.row {
  height: 100%;
}