<div class="row">
  <div class="left menu-container" [ngClass]="leftContainerColMdClass">
    <tree-menu [record]="value" [schema]="schema"></tree-menu>
    <add-field-dropdown [fields]="keys" [pathString]="''" (onFieldAdd)="onFieldAdd($event)" [schema]="schema.properties">Add field</add-field-dropdown>
    <div *ngIf="enableAdminModeSwitch" class="admin-mode" tooltip="Allows editing all fields (use with care)">
      <input id="admin-mode-checkbox" type="checkbox" [(ngModel)]="appGlobalsService.adminMode" />
      <label class="admin-mode" for="admin-mode-checkbox">Enable Admin Mode</label>
    </div>
  </div>
  <div class="right record-fields-container" [ngClass]="rightContainerColMdClass">
    <table id="editor" class="table">
      <div class="field-wrapper" *ngFor="let key of keys | addAlwaysShowFields:schema | filterAndSortBySchema:schema; trackBy:trackByElement">
        <tr>
          <td class="label-holder">
            <title-dropdown [title]="key | underscoreToSpace" [isDisabled]="schema.properties[key].disabled">
              <li *ngIf="schema.properties[key].type === 'array'" class="title-dropdown-item">
                <add-new-element-button [path]="getPathForField(key)" [schema]="schema.properties[key]"></add-new-element-button>
              </li>
              <li class="title-dropdown-item">
                <button type="button" class="editor-btn-delete editor-btn-delete-text" (click)="deleteField(key)">Delete</button>
              </li>
              <li class="divider"></li>
              <li class="title-dropdown-item">
                <find-replace [path]="getPathForField(key)" [schema]="schema.properties[key]"></find-replace>
              </li>
            </title-dropdown>
          </td>
        </tr>
        <tr>
          <td>
            <any-type-field [value]="value.get(key) | selfOrEmpty:schema.properties[key]" [schema]="schema.properties[key]" [path]="getPathForField(key)"></any-type-field>
          </td>
        </tr>
      </div>
    </table>
  </div>
</div>