.record-fields-container {
  height: 100%;
  overflow: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 41px;
}

tr.align-right td:first-child {
  width: 100%;
  slide-toggle {
    float: right;
  }
}

