<div class="record-fields-container">
  <table class="table">
    <div class="field-wrapper">
      <tr *ngIf="keysByType.toggles" class="align-right">
        <td *ngFor="let key of keysByType.toggles; trackBy:trackByElement">
          <slide-toggle [id]="'/' + key" [value]="value.get(key) | selfOrEmpty:schema.properties[key]" (valueChange)="onToggleValueChange(key, $event)"
            [onText]="key" [offText]="key" [onColor]="schema.properties[key].toggleColor"></slide-toggle>
        </td>
      </tr>
    </div>
    <div *ngIf="keysByType.others">
      <div class="field-wrapper" *ngFor="let key of keysByType.others | setFirstElementPath:tabName; trackBy:trackByElement">
        <tr>
          <td class="label-holder">
            <title-dropdown [title]="key | underscoreToSpace" [isDisabled]="isDisabled(key)">
              <li *ngIf="schema.properties[key].type === 'array'" class="title-dropdown-item">
                <add-new-element-button [path]="getPathForChild(key)" [schema]="schema.properties[key]"></add-new-element-button>
              </li>
              <li class="title-dropdown-item">
                <button type="button" class="editor-btn-delete editor-btn-delete-text" (click)="deleteField(key)">Delete</button>
              </li>
              <ng-container *ngIf="getTitleDropdownItemTemplateNamesForChild(key)">
                <li *ngFor="let templateName of getTitleDropdownItemTemplateNamesForChild(key)" class="title-dropdown-item custom-title-dropdown-item">
                  <ng-template [ngTemplateOutlet]="appGlobalsService.templates[templateName]"></ng-template>
                </li>
              </ng-container>
              <li class="divider"></li>
              <li class="title-dropdown-item" (click)="$event.stopPropagation()">
                <find-replace [path]="getPathForChild(key)" [schema]="schema.properties[key]"></find-replace>
              </li>
            </title-dropdown>
          </td>
        </tr>
        <tr>
          <td>
            <any-type-field [value]="value.get(key) | selfOrEmpty:schema.properties[key]" [schema]="schema.properties[key]" [path]="getPathForChild(key)"></any-type-field>
          </td>
        </tr>
      </div>
    </div>
  </table>
</div>
